* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

html {
	background-image: url("http://i.imgur.com/ORtGVpV.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body {
	border-style: solid;
}

.topper {
	text-align: center;
	padding-bottom: 3.5em;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
}

#quiz {
	min-height: 45%;
	margin: 0 auto;
	display: flex;
}

.questions {
	padding-left: 15em;
}

ul {
	list-style-type: none;
	padding: 0
}

.answers {
	padding-left: 12em;
}

.progress {
	height: 3.4375em;
}

.progress ul li {
	display: inline-block;
	font-size: 2em;
	border-style: solid;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.progress ul {
	text-align: center;
}

#submit {
	margin-top: 7em;
	margin-left: -5em;
}