* {
	box-sizing: border-box;
}

/*html {
	background-image: url("http://i.imgur.com/ORtGVpV.jpg");
	background-repeat: no-repeat;
	background-size: 100% 175%;
}*/

.topper {
	text-align: center;
	padding-bottom: 4em;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
}

.questions {
	/*float: left;*/
	padding-left: 15em;
}

ul {
	list-style-type: none;
}

.answers ul {
	/*float: right;*/
	padding-right: 23em;
}

.progress ul li {
	display: inline-block;
}

.progress ul {
	text-align: center;
}